@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
img {
  display: block;
  height: auto;
}
body {
  scroll-behavior: smooth;
  font-family: "Roboto";
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
img {
  border-radius: 50%;
  max-width: 100%;
  width: min(35%, 350px);
  flex: 1;
  box-shadow: 5px 5px 50px rgb(88, 0, 0);
  transition: all 0.1s ease-in;
}
img:hover {
  transform: translateX(5px);
  opacity: 0.85;
}
.container {
  padding: 8rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
}
h1 {
  font-size: clamp(2.2rem, 4vw, 4.5rem);
}
h2 {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
}
.name {
  font: inherit;
  color: red;
  animation: nestajanje 3s infinite;
}
@keyframes nestajanje {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.txt {
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  margin: 1rem 1rem 0 0;
  width: 80%;
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 0 15px rgb(160, 160, 160);
}
.occupation {
  margin-left: 0.5rem;
  width: max-content;
  position: relative;
}
.about-me {
  border-left: 1px solid white;
  padding-left: 1rem;
  height: max-content;
}
.occupation:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
}
.social {
  width: max-content;
  margin-top: 1.5rem;
}
i {
  font-size: clamp(1rem, 3vw, 2rem);
  margin-right: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  color: white;
  box-shadow: 0 0 8px white;
}
i:hover {
  color: red;
  border: 1px solid red;
  box-shadow: 0 0 25px red;
  cursor: pointer;
  transform: scale(1.2);
}
.btn {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 23px;
  box-shadow: 0 0 8px white;
}
.btn:hover {
  color: red;
  border: 1px solid red;
  box-shadow: 0 0 25px red;
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 350px;
    min-width: 150px;
  }
  .about-me {
    order: 1;
    border: none;
    text-align: center;
  }
  .occupation {
    width: 100%;
  }
  .txt {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me {
    order: 1;
    border: none;
    text-align: center;
  }
  .occupation {
    width: 100%;
  }
  .txt {
    width: 100%;
  }
  img {
    width: 350px;
    max-width: 380px;
  }
  .social {
    margin: 2rem auto;
  }
  .btn {
    margin-top: -0.5rem;
  }
}
